.root {
    -fx-background-color: linear-gradient(to bottom, #111111, #1a1a1a);
    -fx-font-family: "Verdana", "Arial";
}

.vbox {
    -fx-spacing: 15px;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: gold;
    -fx-effect: dropshadow( gaussian , rgba(255,215,0,0.7) , 5,0.0,0,0 );
}

.label#connectedClientsLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: cyan;
    -fx-effect: dropshadow( gaussian , rgba(0,255,255,0.6) , 4,0.0,0,0 );
}

.list-view {
    -fx-background-color: #111111;
    -fx-control-inner-background: #111111;
    -fx-border-color: gold;
    -fx-border-width: 2px;
    -fx-text-fill: #00FF00; /* neon green */
    -fx-font-size: 14px;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: #333333;
    -fx-padding: 0.5em;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: gold;
    -fx-background-radius: 5px;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #228B22, #1a601a);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-border-color: gold;
    -fx-border-width: 2px;
    -fx-effect: dropshadow( gaussian , rgba(255,215,0,0.7) , 5,0.0,0,0 );
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #2e8b2e, #1f4d1f);
    -fx-text-fill: gold;
}

.button:pressed {
    -fx-background-color: #1a3a1a;
    -fx-text-fill: #ffcc00;
}
