.title {
    -fx-font-size: 28px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.section-title {
    -fx-font-size: 18px;
    -fx-text-fill: #ffd700;
}

.button {
    -fx-background-color: #228B22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #203f22;
}

.button:pressed {
    -fx-background-color: #203f22;
}

.text-field {
    -fx-background-radius: 5;
}

.text-area {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-text-fill: white;
}